body{
	position: relative;
}
html,body,section.banner{
	height: 100%;
}
h2,p,.form-control,footer{
	font-family: 'verdana';
}
h2{
	font-weight: bold;
	font-size: 40px;
	color: #030711;
	letter-spacing: -2px;
}
h3{
	font-weight: bolder;
	font-size: 35px;
	color: #030711;
	font-weight: 800;
}
.o{
	color: #c72840!important;
	font-weight: bold;
}
h3>.o{
	font-weight: 800;
}
p{
    font-size: 15px;
    padding: 0px 30px;
    color: #030711;
    line-height: 1.6em;
}
header{
	position: absolute;	
	width: 100%;
	padding-top: 40px;
}
.bg-inverse{
	background-color: #C7284D;
	color: #fff;
}
.bg-inverse h1,.bg-inverse h2,.bg-inverse h3,.bg-inverse h4,.bg-inverse h5,.bg-inverse h6{
	color: #fff;
}
section.banner,header{	
	font-family: 'roboto';
	letter-spacing: 0.1em;
}
header ul li a{
    color: #fff;
    padding: 20px 30px;
    font-size: 19px;
}
header ul li a:hover{
	color: #fff;
}
section.experiencia,section.clientes{
    padding: 120px 0px;
}
section.contactanos{
	padding: 90px 0px;
}
section.comercio-electronico .row>div:nth-child(2),section.servicios-digitales .row>div:nth-child(1),section.transformacion-y-gestion-digital .row>div:nth-child(2){
	padding: 50px 20px;
}
section.comercio-electronico .row>div:nth-child(2) ul,section.servicios-digitales .row>div:nth-child(1) ul,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul{
	text-align: justify;
    padding: 25px;	
}
section.comercio-electronico .row>div:nth-child(2) ul li,section.servicios-digitales .row>div:nth-child(1) ul li,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li{
	margin-bottom: 20px;	
}
section.comercio-electronico .row>div:nth-child(2) ul li span,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li span{
	color: #030711;
}
section.comercio-electronico .row>div:nth-child(2),section.transformacion-y-gestion-digital .row>div:nth-child(2){
	background-color: #fafafa;
}
section.comercio-electronico .row>div:nth-child(2) ul li,section.transformacion-y-gestion-digital .row>div:nth-child(2) ul li{
	color: #c72840;
}
section.transformacion-y-gestion-digital .row>div:nth-child(2) ul>li>ul>li{
	margin-bottom: 5px;
}
section.banner{
	background-image: url("../images/banner.png");
	background-position: center;
	background-size: cover;
}
section.banner h1{
	font-size: 30px;
	font-weight: 300!important;
	line-height: 1.7em;
	color: #fff;
	font-weight: normal;
	letter-spacing: 10px;
}
.btn-primary {
    border: solid 1px #fff;
    border-radius: 0;
    background-color: transparent;
    font-size: 22px;
    letter-spacing: 0.1em;
    padding: 8px 40px;
}
.btn-secondary {
	font-family: 'verdana';
	font-weight: bolder;
    border: solid 1px #030711;
    border-radius: 50px;
    background-color: #030711;
    font-size: 27px;
    letter-spacing: 0.1em;
    padding: 15px 80px;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background-color: #fff!important;
    color: #b20d37!important;
    outline: 0!important;
    border-color: #fff!important;
    box-shadow: none!important;
}
section .main-img {
    padding: 0;
}
section .main-img img{
	width: 100%;
	height: auto;
}
section.clientes .slider-container{
	position: relative;
}
label.slide-btn {
    font-size: 40px;
    font-weight: 100;
    color: #010204;
    position: absolute;
    z-index: 1;
    padding: 0px 10px;
    border-radius: 50%;
    border: solid 1px transparent;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin: 0!important;
    top: calc(50% - 36px);
}
label.slide-btn.btn-right{
    right: -60px;    
}
label.slide-btn.btn-left{
	left: -60px;
}
label.slide-btn:hover{
	border: solid 1px #010204;
}
section.clientes img {
    width: 100%;
    height: auto;
    border: solid 1px #efefef;
    margin-bottom: 15px;
}
section.contactanos form{
	width: 450px;
}
.form-control,.form-control:focus {
    border: none;
    box-shadow: none!important;
    margin-bottom: 15px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: solid 1px #ffff;
    font-size: 18px;
    font-weight: 300!important;
}
.form-control::placeholder{
	color: #fff;
}
footer{
	background-color: #030711;
	color: #fff;
}
footer small{
	font-size: 15px;
}
@media(min-width: 768px){
	section.banner h1{
		font-size: 57px;
		line-height: 80px;
	}
	section.comercio-electronico .row>div:nth-child(2), section.servicios-digitales .row>div:nth-child(1), section.transformacion-y-gestion-digital .row>div:nth-child(2) {
	    padding: 0px 80px;
	}
}